    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
            
            <div *ngIf="initialQuantity > 0">

                <table class="table table-bordered">
                    <tr>
                        <th width="20%"> Product Image </th>
                        <th width="50%"> Product Details </th>
                        <th width="30%"></th>
                    </tr>

                    <tr *ngFor="let tempProductInCart of productInCart.products">
                    <td>
                            <img src="{{ tempProductInCart.imageUrl }}" class="img-responsive" width="150px" />
                    </td>

                    <td>
                        <p>{{ tempProductInCart.name}}</p>
                        <p>{{ tempProductInCart.unitPrice | currency: 'PHP'}}</p>
                    </td>

                    <td>
                        <div class="items">
                            <label>Quantity:</label> 

                            <div class="row no-gutters">
                                <div class="col">
                                    <button (click)="incrementQuantity(tempProductInCart)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>

                                <div class="col ml-4 mr-2">
                                    {{ tempProductInCart.quantityInCart }}
                                </div>

                                <div class="col">
                                    <button (click)="decrementQuantity(tempProductInCart)"  class="btn btn-primary btn-sm">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>


                            </div>

                        </div>

                        <p class="mt-2">SubTotal: {{ tempProductInCart.subTotalPrice | currency: 'PHP' }}</p>
                    </td>

                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold">
                            <p> Total Quantity: {{ totalQuantity }} </p>
                            <p>Shipping: FREE</p>
                            <p>Total Price: {{ totalPrice | currency: 'PHP' }}</p>
                        </td>
                    </tr>

                </table>

            </div>
            
            <div *ngIf="initialQuantity == 0" class="alert alert-warning col-md-12" role="alert">
                Your cart is empty.
            </div>  
            
            </div>
        </div>
    </div>


