<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="home.html">
        <img src="assets/images/logo.png" alt="desierto" class="img-responsive">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">

     
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <!-- Search Component -->
            <app-search></app-search>

           <!--Shopping Cart Status Start-->
            <app-cart-status></app-cart-status>
            <!--Shopping Cart Status End-->
          </div>
          


          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAINT CONTENT -->
    <router-outlet></router-outlet>

  </div>
</div>